.container {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 2em;
  margin-left: 3%;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.5em;
  margin-left: 3%;
}

h3 {
  font-size: 1em;
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  text-align: center;
  font-size: 1.3em;
  margin-top: 3px;
  margin-bottom: 3px;
}

h5 {
  text-align: center;
  font-style: italic;
  font-size: .8em;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #666;
}

p {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
