
.title {
  display: inline-block;
  width: 70%;
  float: left;
}

header {
  clear: both;
}

.template {
  display: none;
}

img.project-img {
  width: 25%;
  height: 25%;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
