.container {
  width: 100%;
  margin: 0 auto;
}

header {
  clear: both;
  height: auto;
}

.title {
  display: inline-block;
  width: 85%;
  float: left;
}

img.project-img {
  width: 66%;
  border: .11em solid black;
  margin-bottom: 8px;
}

.description {
  margin-left: 3%;
  margin-bottom: 3%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
