nav {
  /*display: inline-block;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 3%;*/
  /*margin-top: 2%;
  margin-right: 3%;*/
}

nav ul {
  display: none;
  list-style-type: none;
  clear: both;
  padding-left: 0;
  margin: 0;
}


nav:hover ul {
  display: block;
}

nav ul li {
  margin-left: 6%;
  font-size: 1.2em;
  font-family: sans-serif;
  margin-top: 7px;
  margin-bottom: 7px;
}

.icon-menu {
  text-align: right;
  padding-top: 5px;
  margin-right: 3%;
  font-size: 1.5em;
}

@media only screen and (min-width: 640px) {
  .container {
    width: 80%
  }

  .icon-menu {
    display: none;
  }

  nav {
    margin-bottom: 1%;
  }
  nav ul {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 1%
  }

  nav ul li {
    display: inline-block;
    text-align: center;
    margin-left: 0;
    width: 18.5%
  }
}
